<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WaterMark</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <style>
        .form {
            width: auto;
            height: auto;
            float: left;
            margin-left: 5px;
        }
        .figure {
            width: 600px;
            height: 500px;
            float: right;
            margin-right: 5px;
            overflow-y: scroll;
            border: solid 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>网络流水印技术分析</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">水印参数配置</h3>
            </div>
            <div class="panel-body">
                <div class="form">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="form-horizontal" for="interval">时隙长度</label>
                            <select class="form-control" id="interval">
                                <option>300</option>
                                <option>350</option>
                                <option>400</option>
                                <option>450</option>
                                <option>500</option>
                                <option>550</option>
                                <option>600</option>
                                <option>650</option>
                                <option>700</option>
                                <option>750</option>
                                <option>800</option>
                                <option>850</option>
                                <option>900</option>
                                <option>950</option>
                                <option>1000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-horizontal" for="r">冗余度</label>
                            <select class="form-control" id="r">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-horizontal" for="a">调制幅度</label>
                            <select class="form-control" id="a">
                                <option>50</option>
                                <option>100</option>
                                <option>150</option>
                                <option>200</option>
                                <option>250</option>
                                <option>300</option>
                                <option>350</option>
                                <option>400</option>
                            </select>
                        </div>
                        <input class="btn btn-success" type="button" id="analysis" value="分析">
                    </form>
                </div>
            </div>
        </div>

        <div class="figure" id="figure">
            <div id="figure1" style="min-width:400px;height:400px"></div>
            <div id="figure2" style="min-width:400px;height:400px"></div>
        </div>
    </div>
    <script>
        $(function () {
            $('#analysis').click(function () {
                $.ajax({
                    url: '/ISBW',
                    method: 'POST',
                    data: {
                        r: $('#r').val(),
                        T: $('#interval').val(),
                        a: $('#a').val()
                    },
                    success: function (data) {
                        console.log(data);
                        $('#figure1').highcharts({
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },
                            xAxis: {
                                categories: data.x,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: [{
                                name: '伪均匀分布',
                                data: data.fx,
                                color: 'blue'
                            }]
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>