<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WaterMark</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <style>
        .form {
            width: auto;
            height: auto;
            float: left;
            margin-left: 5px;
        }
        /*.figure {*/
            /*width: 600px;*/
            /*height: 500px;*/
            /*float: right;*/
            /*margin-right: 5px;*/
            /*overflow-y: scroll;*/
            /*border: solid 2px;*/
        /*}*/
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>网络流水印技术分析</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">水印参数配置</h3>
            </div>
            <div class="panel-body">
                <div class="form">
                    <form class="form-inline" role="form">
                        <input class="btn btn-success" type="button" id="analysis" value="冗余度分析">
                        <input class="btn btn-success" type="button" id="analysis1" value="时隙长度分析">
                        <input class="btn btn-success" type="button" id="analysis2" value="调制幅度分析">
                    </form>
                </div>
            </div>
        </div>

        <div class="figure" id="figure" style="width:650px; height: auto; margin: 0 auto">
            <div id="figure1" style="min-width:600px;height:400px"></div>
            <div id="figure2" style="min-width:600px;height:400px"></div>
            <div id="figure3" style="min-width:600px;height:400px"></div>
        </div>
    </div>
    <script>
        $(function () {
            $('#analysis').click(function () {
                $.ajax({
                    url: '/ISBW3',
                    method: 'POST',
                    success: function (data) {
                        console.log(data);
                        $('#figure1').highcharts({
                            title: {
                                text: '冗余度对水印检测率的影响'
                            },
                            xAxis: {
                                categories: data.categories,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: data.series
                        });
                    }
                });
            });
        });
        $(function () {
            $('#analysis1').click(function () {
                $.ajax({
                    url: '/ISBW4',
                    method: 'POST',
                    success: function (data) {
                        console.log(data);
                        $('#figure2').highcharts({
                            title: {
                                text: '时隙长度对水印检测率的影响'
                            },
                            xAxis: {
                                categories: data.categories,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: data.series
                        });
                    }
                });
            });
        });
        $(function () {
            $('#analysis2').click(function () {
                $.ajax({
                    url: '/ISBW5',
                    method: 'POST',
                    success: function (data) {
                        console.log(data);
                        $('#figure3').highcharts({
                            title: {
                                text: '调制幅度对水印检测率的影响'
                            },
                            xAxis: {
                                categories: data.categories,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: data.series
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>